f@charset "UTF-8";

/* 
CSS Document
Author: Nick Zetzl
website style sheet
Last Update: 10/26/14
*/
ol {
    
}

h1 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 6em;
    color: #147ABC;
    margin-bottom: 0px;
    margin-top: 5px;
}

h2 {
    font-size: 1.2em;
    color: #147ABC;
    padding-bottom: 0px;
    margin-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#firstHeading {
    margin-top: 0px;
}

p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    width: 300px;
}

p.projectInfo {
    line-height: 30px;
    text-align: left;
    font-size: 1.0em;
    width: 350px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

#interestParagraph {
    width: 400px;
}

#tabList {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
}

.tabs {
    font-size: 1.8em;
    list-style-type: none;
    display: inline;
    margin-right: 30px;
    color: #999999;
    cursor: pointer;
}

.tabs:hover {
    color:#147ABC;
    font-size: 2em;
}

#githubPic {
    padding-left: 15px;
    padding-right: 15px;
    height: 180px;
    width: 180x;
}

#linkedInPic {
    padding-left: 15px;
    padding-right: 15px;
    height: 180px;
    width: 180x;
}

#emailPic {
    padding-left: 15px;
    padding-right: 15px;
    height: 175px;
    width: 175x;
}

#container {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#resume {
    font-size: 2em;
    padding-top: 20px;
}

#skills {
    display: none;
}

table {
    margin-right: auto;
    margin-left: auto;
    border-spacing: 10px;
}

th {
    text-align: center;
    font-size: 1.2em;
}

td {
    font-size: 1.2em;
}

td.dates {
    text-align: center;
}

span {
    padding-right: 30px;
    color: #147ABC;
}

#interests {
    display: none;
}

#outdoorPic {
    width: 400px;
    height: 300px;
    margin-top: 0px;
    padding-top: 0px;
}

#soccerPic {
    width: 360px;
    height: 300px;
    margin-top: 10px;
    position: relative;
    left: 380px;
}

#projects {
    display: none;
}

#roboticsPic {
    width: 460px;
    height: 300px;
    padding-left: 20px;
}

#soccerWebPic {
    width: 440px;
    height: 280px;
    padding-left: 20px;
}

#personalWebPic {
    width: 450px;
    height: 350px;
}

.pictureColumn {
    padding-left: 70px;
}

#address_break {
    width: 100%;
    position: fixed;
    top: 95%;
}

address {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: fixed;
    top: 97%;
    width: 100%;
	font-style: italic; 
	font-family: serif; 
	font-size: .9em;
}

#addressDiv {
    z-index: 1;
}