/* 
CSS Document
Author: Nick Zetzl
website style sheet
Last Update: 3/2/17
*/

h1 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 6em;
    color: #147ABC;
    margin-bottom: 0em;
    margin-top: .5em;
    cursor: pointer;
}

h2 {
    font-size: 1.2em;
    color: #147ABC;
    padding-bottom: 0px;
    margin-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    width: 300px;
}

span {
    padding-right: 30px;
    color: #147ABC;
}

table {
    margin-right: auto;
    margin-left: auto;
    border-spacing: 10px;
}

td {
    font-size: 1.2em;
}

th {
    text-align: center;
    font-size: 1.2em;
}

.pictureColumn {
    padding-left: 70px;
}

p.projectInfo {
    line-height: 30px;
    text-align: left;
    font-size: 1.0em;
    width: 350px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

.tabs {
    font-size: 1.8em;
    list-style-type: none;
    display: inline;
    margin-right: 30px;
    color: #999999;
    cursor: pointer;
}

.tabs:hover {
    color:#147ABC;
}

td.dates {
    text-align: center;
}

#address_break {
    width: 100%;
    position: fixed;
    top: 95%;
}

#addressDiv {
    z-index: 1;
}

#container {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#description {
    font-size: 1.5em;
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: 600px;
}

#emailPic {
    padding: 0px;
    height: 175px;
    width: 175x;
    border-radius: 50%;
    margin-left: 15px;
}

#firstHeading {
    margin-top: 0px;
}

#friendsFindMePic {
    width: 425px;
    height: 325px;
    margin-left: 50px;
    border: 5px solid black;
}

#githubPic {
    padding: 0px;
    height: 180px;
    width: 180x;
    border-radius: 50%;
    margin-right: 15px;
}

#githubPic:hover {
    color: green;
}

#interestParagraph {
    width: 400px;
}

#interests {
    display: none;
}

#linkedInPic {
    padding: 0px;
    height: 180px;
    width: 180x;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 15px;
}

#outdoorPic {
    width: 400px;
    height: 300px;
    margin-top: 0px;
    padding-top: 0px;
}

#personalWebPic {
    margin-left: 50px;
    padding-top: 50px;
    width: 450px;
    height: 350px;
}

#projects {
    display: none;
}

#roboticsPic {
    width: 460px;
    height: 300px;
    padding-left: 20px;
    margin-left: 20px;
}

#skills {
    display: none;
}

#soccerPic {
    width: 360px;
    height: 300px;
    margin-top: 10px;
    position: relative;
    left: 380px;
}

#soccerWebPic {
    width: 440px;
    height: 280px;
    margin-left: 30px;
    padding-top: 20px;
    padding-left: 20px;
}

#tabList {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
    margin-top: 1%;
}

/*the last sections are used for special events*/

#specialEvent figure {
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
}

#specialEvent img {
    width: 320px;
    height: 220px;
    padding: 0px;
    margin: 0px;
    border: 2px solid black;
    border-radius: 5px;
}

figcaption {
    width: 300px;
    position: relative;
    margin-top: 5px;
    padding-left: 4px;
    text-decoration: none;
    color: black;
}

figcaption:hover {
    color: #147ABC;
    cursor: pointer;
}