f@charset "UTF-8";

/* 
CSS Document
Author: Nick Zetzl
website style sheet
Last Update: 10/26/14
*/
ol {
    
}

h1 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 6em;
    color: #147ABC;
    margin-bottom: 0px;
}

p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    width: 300px;
}

#tabList {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
}

.tabs {
    font-size: 1.8em;
    list-style-type: none;
    display: inline;
    margin-right: 30px;
    color: #999999;
    cursor: pointer;
}

.tabs:hover {
    color:#147ABC;
}

#githubPic {
    padding-left: 15px;
    padding-right: 15px;
    height: 180px;
    width: 180x;
}

#linkedInPic {
    padding-left: 15px;
    padding-right: 15px;
    height: 180px;
    width: 180x;
}

#emailPic {
    padding-left: 15px;
    padding-right: 15px;
    height: 175px;
    width: 175x;
}

#container {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#resume {
    font-size: 2em;
    padding-top: 20px;
}

#skills {
    display: none;
}

table {
    margin-right: auto;
    margin-left: auto;
    border-spacing: 10px;
}

th {
    text-align: center;
    font-size: 1.2em;
}

td {
    font-size: 1.2em;
}

span {
    padding-right: 30px;
}

span {
    color: #147ABC;
}

#interests {
    display: none;
}

#projects {
    display: none;
}

#address_break {
    width: 100%;
    position: absolute;
    top: 95%;
}

address {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: absolute;
    top: 97%;
    width: 100%;
	font-style: italic; 
	font-family: serif; 
	font-size: .9em;
}